<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-Ua-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RubenRL | Curso de VueJs_v1 | Example 2</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="http://v1.vuejs.org/js/vue.js"></script>

</head>

<body id="app">

    <div v-show="name">
        <h1 v-show="name">Bienvenido, {{ name }}!</h1>
        <p v-show="name">Uso de v-show junto com div</p>
    </div>

    <hr>

    <template v-if="name">
        <h1>Hola, {{ name }}!</h1>
        <p>Uso de v-if junto con template que se usa para   </p>
    </template>
    <p v-else>Por favor introduce tu nombre</p>

    <hr>

    <input type="text" v-model="name" class="form-control">

    <hr>

    <pre>{{ $data | json }}</pre>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script type="text/javascript">

        new Vue({
            el: "#app",
            data: {
                name: ""
            }
        });

        /*
        $(document).ready(function () {

            $('#name').keyup(function () {

                $('#title').text("Bienvenido "+$('#name').val());

            });

        });
         */
    </script>

</body>
</html>
